**/bin
**/obj
**/out
**/.vs
**/.vscode
**/.idea
**/*.user
**/*.suo
**/.git
**/.gitignore
**/.gitattributes
**/.DS_Store
**/node_modules
**/TestResults
**/coverage
**/*.log
**/appsettings.Development.json
**/appsettings.Local.json
**/secrets.json
Dockerfile
.dockerignore
docker-compose*.yml
README.md
**/*.md